USE [master]
GO
/****** Object:  Database [ProductosT]    Script Date: 4/12/2022 19:27:25 ******/
CREATE DATABASE [ProductosT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductosT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProductosT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductosT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProductosT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductosT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductosT]
GO
/****** Object:  Table [dbo].[Marcas]    Script Date: 4/12/2022 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marcas](
	[id_Marca] [int] NOT NULL,
	[Marca] [varchar](30) NULL,
 CONSTRAINT [pk_Marcas] PRIMARY KEY CLUSTERED 
(
	[id_Marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 4/12/2022 19:27:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id_Codigo] [int] NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Marca] [int] NULL,
	[Fechacompra] [datetime] NULL,
	[Precio] [float] NULL,
 CONSTRAINT [pk_productos] PRIMARY KEY CLUSTERED 
(
	[id_Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Marcas] ([id_Marca], [Marca]) VALUES (1, N'Sony')
INSERT [dbo].[Marcas] ([id_Marca], [Marca]) VALUES (2, N'Lenovo')
INSERT [dbo].[Marcas] ([id_Marca], [Marca]) VALUES (3, N'Genius')
GO
USE [master]
GO
